@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Playfair+Display&family=Readex+Pro&display=swap');

:root {
  --white: #feffed;
  --cream: #e6af53;
  --gray: #a6a6a6;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: black;
}

.font-dancing {
  font-family: 'Dancing Script', serif;
}

.font-playfair {
  font-family: 'Playfair Display', serif;
}

.font-readex {
  font-family: 'Readex Pro', serif;
}

.color-white {
  color: var(--white);
}

.color-cream {
  color: var(--cream);
}

.bgcolor-cream {
  background-color: var(--cream);
}

.about-container {
  padding: 2rem;
  /* margin-top: -65px; */
}

.about-name {
  font-size: 2em;
}

.about-description {
  font-size: 0.9em;
}

.hero {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(./assets/image/hero.JPG);
  background-size: cover;
  background-position: center;
  min-height: 60vh;
  max-height: 100vh;
}

.paragraph-headline {
  font-size: 1.3em;
}

.main-headline {
  font-size: 3em;
}

.vertical-timeline::before {
  /* background: blue !important; */
  border-width: 0 0 0 2px;
  border-style: dashed;
}

.vertical-timeline--two-columns .vertical-timeline-element-content {
  box-shadow: none;
}

.photo-about {
  width: 100%;
  border-radius: 10px;
  height: 70%;
  object-fit: cover;
}

.photo-timeline {
  width: 100%;
  border-radius: 10px;
  max-height: 450px;
  object-fit: cover;
  object-position: 10% 35%;
}

.counter-box {
  background-color: var(--white);
  color: black;
  width: 23%;
  margin-right: 5px;
  padding: 10px 10px;
  border-radius: 10px;
}

.place-container {
  max-height: 50vh;
}

.timer-desc {
  font-size: 0.8em;
}

.modal-background {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(./assets/image/test.JPG);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transform: translateY(0);
}

.modal-box {
  padding: 2em 4em;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.3);
  color: rgba(255, 255, 255, 0.8);
}

.button-gray {
  color: var(--white);
  background-color: var(--gray);
}

.react-photo-gallery--gallery > div > img {
  border-radius: 10px;
}

.form-container {
  display: flex;
  justify-content: center;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url(./assets/image/floral-bg.jpg) center center / cover no-repeat;
}

.modal-form {
  width: 100%;
  padding: 2em 1em;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.2);
  color: var(--white);
}

@media only screen and (min-width: 768px) {
  .hero {
    height: 100vh;
  }

  .paragraph-headline {
    font-size: 2em;
  }

  .main-headline {
    font-size: 5em;
  }

  .counter-box {
    margin-left: 10px;
    margin-right: 10px;
    width: 10%;
  }

  .timer-desc {
    font-size: 1em;
  }

  .modal-box {
    padding: 2em 6em;
  }

  .modal-form {
    width: 60%;
    padding: 2em;
  }

  /* .about-container {
    margin-top: -80px;
  } */
}
