@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Playfair+Display&family=Readex+Pro&display=swap');

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: black;
}

.font-dancing {
  font-family: 'Dancing Script', serif;
}

.font-playfair {
  font-family: 'Playfair Display', serif;
}

.font-readex {
  font-family: 'Readex Pro', serif;
}

.about-container {
  padding: 3rem 2rem;
  /* margin-top: -65px; */
}

.about-name {
  font-size: 2.5em;
}

.about-description {
  font-size: 1.1em;
}

.hero {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(./assets/image/wedding-couple.jpg);
  background-size: cover;
  background-position: center;
  min-height: 60vh;
  max-height: 100vh;
}

.paragraph-headline {
  font-size: 1.3em;
}

.main-headline {
  font-size: 3em;
}

.vertical-timeline::before {
  /* background: blue !important; */
  border-width: 0 0 0 2px;
  border-style: dashed;
}

.vertical-timeline--two-columns .vertical-timeline-element-content {
  box-shadow: none;
}

@media only screen and (min-width: 768px) {
  .hero {
    height: 100vh;
  }

  .paragraph-headline {
    font-size: 2em;
  }
  
  .main-headline {
    font-size: 5em;
  }

  /* .about-container {
    margin-top: -80px;
  } */
}
